@import 'libs/reset';
@import 'index';
@import 'libs/media';

@font-face {
    font-family: IceKingdom;
    src: url(../fonts/IceKingdom.ttf);
}
 

body {
    background-color: #95c542;


    .demo-layout-transparent {
        
    }

    .hlay {
        height: 600px;
    }

    .fhead {
        background-color: rgba(236, 236, 236, 0.3) !important;
    }

    .logo-title {
        line-height: 36px;

        .logo-p {
            font: 36px IceKingdom;
            color: #000;
            top: 0px;
            position: relative;
            margin-bottom: 0px;
        }
    }

    .main-menu {

        &:after {
            content: ' ';
            float: none;
        }

    .mbut {
        color: #fff;
        height: 64px;
        
    }

    .upc {
        text-transform: uppercase;
        line-height: 26px !important;
        padding: 0px !important;
        
        /*&:after {
            background: #fff;
            bottom: 0px;
            content: '';
            display: block;
            height: 1px;
            width: 0;
            position: relative;
            -webkit-transition: width .15s;
            -moz-transition: width .15s;
            -o-transition: width .15s;
            transition: width .15s;
        }
        
        &:hover:after {
            width: 100%;
            z-index: 5;
        }*/
    }

    li {

        &:hover {

            ul.dd-menu {
                display:block;
            }
        }
    }

  

    .dd-menu {
        display: none;
        position: absolute;
        width: auto;
        top: auto;
        border: 4px solid rgba(255, 255, 255, 0.6);
        margin: 0px;
        //////////////////
        background: #fff;
        height: auto;
        min-width: 124px;
        padding: 8px 0;
        line-height: 24px;
        font-size: 13px;
        clip: rect(0px 148.313px 209px 0px);
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
        will-change: transform;
        transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1);
        transition: transform .3s cubic-bezier(.4,0,.2,1),opacity .2s cubic-bezier(.4,0,.2,1),-webkit-transform .3s cubic-bezier(.4,0,.2,1);

        .dd-li {
            
            list-style-type: none;
            width: 150px;
            height: 50px;
            
            /*background-color: rgba(236, 236, 255, 0.6);
            border: 2px solid #000;*/
            //////////////////////////////////////////////////////
            position: relative;
            display: block;
            background-color: transparent;
            text-align: left;
            padding: 0 16px;
            outline-color: #bdbdbd;
            overflow: hidden;
            line-height: 50px;
            white-space: nowrap;
            transition: opacity .2s cubic-bezier(.4,0,.2,1);
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;


           /* &:hover {
                background-color:#95c542;
            }*/

            /*.dd-a {
                display: block;
                list-style: none !important;
                text-decoration: none;
                color: white;
                padding-left: 5px;

                
            }*/
        }
    }
}
    .left-menu {
        display: none;
    }

    .npc {
        text-transform: uppercase;
        line-height: 26px !important;
    }
    
    .demo-layout-transparent .mdl-layout__header,
    .demo-layout-transparent .mdl-layout__drawer-button {
        /* This background is dark, so we set text to white. Use 87% black instead if
            your background is light. */
        color: white;
    }
    .mdl-layout__drawer-button {
        display: none;
    }

}