@import 'libs/reset';
@import 'index';


$color: green;  

body {
    background-color: $color;

    a{
        color: lighten($color, 20%);
    }

    .demo-layout-transparent {
        background: url('../images/sl.jpg') center / cover;
        height: 600px;
    }
    .mdl-layout__header {
        background-color: #8BC34A; 
    }
    .demo-layout-transparent .mdl-layout__header,
    .demo-layout-transparent .mdl-layout__drawer-button {
        /* This background is dark, so we set text to white. Use 87% black instead if
            your background is light. */
        color: white;
    }
}